<div id="myCarousel" class="container carousel slide car" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
            aria-current="true"></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let category of univers;let i = index">
      <div [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
             preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777"></rect>
        </svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <p>{{category.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing ">
  <div class="row categories" style="text-align: center">
    <div *ngFor="let category of categories">

      <div class="categories light col-lg-12">

        <h6 class="align-content-center">{{category.name | titlecase}}</h6>
<!--        <p>{{category.description | titlecase}}</p>-->
        <p><a class="btn btn-light"  [routerLink]="['../', 'c', category.id]">Details »</a></p>
      </div>
    </div>
  </div>
</div>
